<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('orders') %></h1>
  </div>
</section>

<% if @orders.length>0 %>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col"><%= t('product') %></th>
              <th scope="col" class="text-center"><%= t('quantity') %></th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |o| %>
              <tr>
                <td><%= image_tag(o.product.imgURL, height: '32', width: '32')%> </td>
                <td><%= o.product.manufacturer + " " + o.product.productName %></td>
                <td><%= o.quantity %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>