<p id="notice"><%= notice %></p>
<br>
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <h1 class="my-4"><%= t('shop_name') %></h1>
      <div class="list-group">
        <% if @product.productType == "tv" %>
          <a href="#" class="list-group-item active"><%= t('tv') %></a>
        <% else %>
          <a href="#" class="list-group-item"><%= t('tv') %></a>
        <% end %>
        <% if @product.productType == "phone" %>
          <a href="#" class="list-group-item active"><%= t('phone') %></a>
        <% else %>
          <a href="#" class="list-group-item"><%= t('phone') %></a>
        <% end %>
        <% if @product.productType == "notebook" %>
          <a href="#" class="list-group-item active"><%= t('notebook') %></a>
        <% else %>
          <a href="#" class="list-group-item"><%= t('notebook') %></a>
        <% end %>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="<%= @product.imgURL %>" alt="">
        <div class="card-body">
          <h3 class="card-title"><%= @product.productName %></h3>
          <h4><%= @product.price %> <%= t('huf') %></h4>
          <p>
            <strong><%= t('product_number') %>:</strong>
            <%= @product.productNumber %>
          </p>

          <p>
            <strong><%= t('color') %>:</strong>
            <%= @product.productColor %>
          </p>

          <p>
            <strong><%= t('release_date') %>:</strong>
            <%= @product.releaseDate %>
          </p>

          <p>
            <strong><%= t('manufacturer') %>:</strong>
            <%= @product.manufacturer %>
          </p>
          <p><%= t('rating') + ": " + @product.rates.average("rating").to_s + " (" + @product.rates.count().to_s + ")"   %></p>
          <% if user_signed_in? %>
            <%= form_for([@product,@product.rates.build]) do |f| %>
              <p>
                <%= f.select(:rating, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]],3), class: "form-control")%>
              </p>
              <p>
                <%= f.submit(t('rate'), class: "btn btn-primary") %>
              </p>
            <% end %>
            <%= form_for([@product,@product.orders.build]) do |f| %>
              <p>
                <%= f.submit(t('to_cart'),class: 'btn btn-primary') %>
              </p>
            <% end %>
          <% end %>

        </div>
      </div>
      <!-- /.card -->


      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          <%= t('comments') %>
        </div>
        <div class="card-body">
          <% @product.comments.each do |comment| %>
            <p><%= comment.body %></p>
            <small class="text-muted"><%= t('posted_by') + " " + comment.user.email + " " + t('posted_on')%> <%= comment.commentDate %></small>
            <hr>
          <% end %>
          <% if user_signed_in? %>
            <h3> <%= t('comment') %></h3>
            <%= form_for([@product,@product.comments.build]) do |f| %>
              <p>
              <%= f.text_field(:body, class: 'form-control') %>
              </p>
              <p>
                <%= f.submit(t('send'),class: 'btn btn-primary') %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->
